// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-wrap {
    span {
        position: absolute;
    }

    .card-img-top {
        width: 192px;
        height: 280px;
    }

}

.discount-icon {
    float: right;
    position: relative;
    margin-right: 40px;
}
